<div id="container"> 
          <header>
              <div id="header">
                  <a class="logo">Chidren's Charity</aa>
                  <nav>
                     <a class="menu-icon"></a>
                      <ul>
                          <li><a href="/">HOME</a></li>
                          <li><a href="/donate" class="next">DONATE</a></li>
                      </ul>
                  </nav>
              </div>
          </header>
          
          <div id="main">
              
              <div id="text-holder">
                  <div class="text">
                      <div id="text-h2">
                          <h2 class="words">DONATE & HELP</h2>
                      </div>
                    
                    <div id="text-h3">
                        <h3 class="words">Support Children for Education</h3>
                    </div>
                    
                    <div id="text-p">
                        <p class="words">Donate Today For Children Education, Clean Water, Accomodation... Make a regular monthly donation and make a difference to the lives of vulnearable children. We need your support to educate, feed and accomodate!</p>
                    </div>    
                      
                    <div id="btn">
                        <button class="words"><a href="/donate">DONATE NOW </a></button>

                    </div>
                  </div>
              </div>
              
              <div id="image-div">
                  
              </div>
              
          </div>
          
          <div class="clear"></div>
          
          <footer>
              <div id="footer-div">
                  <h4>Copyrights @2014</h4>
              </div>
          </footer>
          
      </div>
